.loadingContent {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: +200;
	//display: none!important;
	display: none;

	.loadingText {
		transform: translateY(calc(50vh - 50%));
		margin: auto;
		width: 200px;
		height: 100px;
		font-size: 24px;
		color: white;
		text-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
		text-align: center;
	}

	.spin {
		width: 36px;
		height: 36px;
		margin: auto;
		border: 3px solid;
		animation: spin 2s linear infinite;
		border-radius: 100px;
		border-color: var(--blue) transparent;

		&::before, &::after {
			position: absolute;
			z-index: -1;
			content: '';
			display: block;
			border: 3px solid;
			width: 36px;
			height: 36px;
			border-radius: 100px;
			transform-origin: center;
			border-color: rgba(255, 255, 255, 0.2) transparent;
		}

		&::before {
			transform: translate(-3px, -3px) scale(1.1);
		}

		&::after {
			transform: translate(-3px, -3px) scale(0.88);
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

}
